<% flash.each do |key, value| %>
  <div class="alert alert-success"><%= value %></div>
<% end %>

<div class="container-fluid article-page">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-striped table-hover">
      <% @articles.each do |article| %>
      <tr>
        <td>
          <%= link_to article.title, article.url, target: "_blank" %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= will_paginate @articles %>
  </div>
</div>
