.navbar {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}

.article-page {
  margin-top: 20px;
}

.article-category {
  text-align: right;
  font-size: 12px;        
  vertical-align: bottom;
}


textarea, select, .uneditable-input {
  width: 100%;
  margin-bottom: 15px;
}

input {
  display: block;
  width: 100%;
}

label {
  margin-top: 10px;
}

.submit-button {
  margin-top: 20px;
}
