<!DOCTYPE html>
<html>
  <head>
    <title>Read</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Read</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/articles/new">new article</a></li>
        </ul>
      </div>
    </nav>
    
    <%= yield %>

  </body>
</html>
